<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <form
      method="POST"
      name="fa-form-1"
      action="https://webhook.frontapp.com/forms/cloud_consulting/XBYByqJcDXoVgYu2c2H16MxSCJST6nPt1sganSSGl4McFD2LvGG4sGU2kQf1MEicpJmrL1NLPllLhghgRu48AVuq0lvyZRc852kVHygbxQKixk-triX6"
      enctype="multipart/form-data"
      accept-charset="utf-8"
    >
      <div>
        <label for="name">Name</label>
        <input type="text" name="name">
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" name="email">
      </div>

      <div>
        <textarea name="body"></textarea>
      </div>

      <div>
        <input type="file" name="attachment">
      </div>

       <div id="html_element"></div>
      <div>
        <input type="submit" value="Send">
      </div>
    </form>

    {% include header.html %}
        <button id="assign">Assign to me</button>
          <script type="text/javascript">
          // window.Front is now available.
          const assignButton = document.getElementById('assign');

          Front.contextUpdates.subscribe(context => {
            //assignButton.removeEventListener('click',_assign);
            //Try adding code into eventListener
            switch(context.type) {
              case 'noConversation':
                console.log('No conversation selected');
                break;

              case 'singleConversation':
                console.log('Selected conversation:', context.conversation);
                assignButton.addEventListener('click', function _assign(){
                  Front.assign(context.teammate.id)
                });
                break;

              case 'multiConversations':
                console.log('Multiple conversations selected', context.conversations);
                break;

              default:
                console.error(`Unsupported context type: ${context.type}`);
                break;
              }
            });
    </script>
    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      window.FrontChat('init', {chatId: 'c52f70f5d90e89c0eebd2dccfa6e8f87', useDefaultLauncher: true});
    </script>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
