<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      window.FrontChat('init', {chatId: '0fc7e3228dbc875e4e1fb2367c367c7f', useDefaultLauncher: true});
    </script>

    <head>
        <script type="text/javascript" src="//dl.frontapp.com/libs/plugin-sdk-1.0.1.min.js"></script>
    </head>
      <body>
        <script type="text/javascript">
          // window.Front is now available.
        </script>
      </body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
