<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      window.FrontChat('init', {chatId: '0fc7e3228dbc875e4e1fb2367c367c7f', useDefaultLauncher: false});
    </script>
        <button id="assign">Assign to me</button>
          <script type="text/javascript">
          // window.Front is now available.
          const assignButton = document.getElementById('assign');

          Front.contextUpdates.subscribe(context => {
            //assignButton.removeEventListener('click',_assign);
            //Try adding code into eventListener
            switch(context.type) {
              case 'noConversation':
                console.log('No conversation selected');
                break;

              case 'singleConversation':
                console.log('Selected conversation:', context.conversation);
                assignButton.addEventListener('click', function _assign(){
                  Front.assign(context.teammate.id)
                });
                break;

              case 'multiConversations':
                console.log('Multiple conversations selected', context.conversations);
                break;

              default:
                console.error(`Unsupported context type: ${context.type}`);
                break;
              }
            });
    </script>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script>
  window.intercomSettings = {
    app_id: "7a753d271446f8883ba3daee369dc93c3357bc95"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/7a753d271446f8883ba3daee369dc93c3357bc95'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/7a753d271446f8883ba3daee369dc93c3357bc95';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

    {% include footer.html %}

  </body>

</html>
